@{
    Layout = "~/Views/Shared/_Base.cshtml";
}
<style>
    .layui-card-header.layuibd-card-header-auto {
        padding-top: 15px;
        padding-bottom: 15px;
        height: auto;
    }

    .layuibd-card-header-auto i.layuibd-button-btn {
        position: relative;
        right: 0;
        top: 0;
        vertical-align: middle
    }
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <form class="layui-form layui-form-pane" lay-filter="LAY-form-render">
            <input type="hidden" id="bid" name="UserId" value="@ViewBag.bid" placeholder="业务ID" />
            <input type="hidden" id="empid" name="BusinessId" value="@ViewBag.empid" placeholder="用户ID" />
            <div class="layui-card-header layuibd-card-header-auto">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>病人基本信息</legend>
                </fieldset>
                <!--主体部分-->
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">个人编号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="PersonalCoding" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">身份证号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="IdCardNo" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">患者姓名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="PatientName" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">性别</label>
                        <div class="layui-input-inline">
                            <input type="text" name="PatientSex" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">主诊医生</label>
                        <div class="layui-input-inline">
                            <input type="text" name="AdmissionDiagnosticDoctor" autocomplete="off" disabled class="layui-input layui-disabled">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">社保住院号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="MedicalInsuranceHospitalizationNo" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <!--可修改的住院信息-->
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>住院信息</legend>
                </fieldset>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">住院编号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="HisHospitalizationId" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">入院日期</label>
                        <div class="layui-input-inline">
                            <input type="text" name="AdmissionDate" id="AdmissionDate" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">住院科室</label>
                        <div class="layui-input-inline">
                            <input type="text" name="DepartmentName" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">床位号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="AdmissionBed" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">胎儿数</label>
                        <div class="layui-input-inline">
                            <input type="text" name="FetusNumber" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">户口性质</label>
                        <div class="layui-input-inline">
                            <select name="HouseholdNature">
                                <option value="">请选择户口性质</option>
                                <option value="10">城镇户口</option>
                                <option value="20">农业户口</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!--诊断部分-->
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>诊断列表</legend>
                </fieldset>
                <!--搜索部分-->
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">录入诊断</label>
                        <div class="layui-input-inline" style="width:280px;">
                            <input type="text" id="DiagnosisSearch" placeholder="请输入诊断名称/编码/助记码" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn" lay-submit lay-filter="LAY-diagnosis-search">
                            <i class="layui-icon layui-icon-search"></i>
                        </button>
                    </div>
                </div>
                <!--诊断列表-->
                <table class="layui-table" id="dataTable" lay-size="sm" lay-filter="dataTable"></table>

                <div class="layui-form-item" style="text-align: center;margin-top: 20px;">
                    <button type="submit" class="layui-btn layui-btn-radius" lay-submit lay-filter="updateRegister">修改登记</button>
                    <button type="button" class="layui-btn layui-btn-radius" id="cancelRegister">取消登记</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    layui.config({
        base: '/Content/js/layui/plugin/' //假设这是test.js所在的目录
    }).extend({ //设定模块别名
        autocomplete: 'layAutoComplete'
    });

    layui.use(['form', 'laypage', 'layer', 'table', 'element', 'laydate', 'autocomplete'], function () {
        var $ = layui.$
            //Tab的切换功能，切换事件监听等，需要依赖element模块
            , element = layui.element
            , form = layui.form
            , layer = layui.layer
            , table = layui.table
            , laydate = layui.laydate;

        //页面一加载就发送ajax
        $(function () {
            var params = {
                "BusinessId": $("#bid").val() /*当前住院记录的业务ID*/
                , "UserId": $("#empid").val() /*授权操作人的ID*/
            }
            $.ajax({
                url: '/BenDing/QueryMedicalInsurance',
                data: params,
                dataType: "json",
                async: false,
                success: function (data) {
                    console.log(data)
                }
            });
            //表单初始赋值
            form.val('LAY-form-render', {
                //"endworkdate": endworkdate //这里在赋初始值时没效果, 也不报错
            });

            //取消登记
            $(document).on('click', '#cancelRegister', function () {
                var params = {
                    "BusinessId": $("#bid").val() /*当前住院记录的业务ID*/
                    , "UserId": $("#empid").val() /*授权操作人的ID*/
                }

                $.ajax({
                    url: '/BenDing/HospitalizationRegisterCancel',
                    data: params,
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        console.log(data)
                        if (data.Success === false) {
                            var errData = data.Message;
                            //样式类名:墨绿深蓝风
                            layer.alert(errData, { skin: 'layui-layer-molv', icon: 3, title: '提示' });
                        } else {
                            var resData = data.Data;
                            layer.alert("取消成功", { skin: 'layui-layer-molv', icon: 6, title: '提示' });
                        }
                    }
                });
            });
        });

        


    });
    


    
</script> 