@{
    Layout = "~/Views/Shared/_Base.cshtml";
}
<style>
    .layui-card-header.layuibd-card-header-auto {
        padding-top: 15px;
        padding-bottom: 15px;
        height: auto;
    }

    .layuibd-card-header-auto i.layuibd-button-btn {
        position: relative;
        right: 0;
        top: 0;
        vertical-align: middle
    }
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <form class="layui-form layui-form-pane" lay-filter="LAY-form-render">
            <input type="hidden" id="bid" value="@ViewBag.bid" placeholder="业务ID" />
            <input type="hidden" id="empid" value="@ViewBag.empid" placeholder="用户ID" />

            <div class="layui-card-header layuibd-card-header-auto">
                <!--搜索部分-->
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">身份标识</label>
                        <div class="layui-input-inline">
                            <select id="IdentityMark" lay-verify="required">
                                <option value="">请选择条件</option>
                                <option value="1" selected>身份证号</option>
                                <option value="2">个人编号</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">身份证号</label>
                        <div class="layui-input-inline">
                            <input type="text" id="IdCardNo" placeholder="请输入身份标识" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">入院日期</label>
                        <div class="layui-input-inline">
                            <input type="text" id="AdmissionDate1" lay-verify="date" placeholder="请选择入院日期" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn" lay-submit="" lay-filter="LAY-form-search">
                            <i class="layui-icon layui-icon-search layuibd-button-btn"></i>
                        </button>
                    </div>
                </div>


                <!--主体部分-->
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">住院编号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="HospitalizationNo" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">个人编号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="PersonalCoding" @*lay-verify="required|number"*@ autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">身份证号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="IdCardNo" @*lay-verify="required|number"*@ autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">患者姓名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="PatientName" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">入院日期</label>
                        <div class="layui-input-inline">
                            <input type="text" name="AdmissionDate" id="AdmissionDate" @*lay-verify="date"*@ placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">住院科室</label>
                        <div class="layui-input-inline">
                            <input type="text" name="DepartmentName" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">床位号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="AdmissionBed" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">险种类型</label>
                        <div class="layui-input-inline">
                            <select name="InsuranceType" @*lay-verify="required"*@>
                                <option value="">请选择险种类型</option>
                                <option value="310">城镇职工</option>
                                <option value="342">城乡居民</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">医疗类别</label>
                        <div class="layui-input-inline">
                            <select name="MedicalCategory" @*lay-verify="required"*@>
                                <option value="">请选择医疗类别</option>
                                <option value="11">11-普通入院</option>
                                <option value="14">14-大病门诊</option>
                                <option value="15">15-大病住院</option>
                                <option value="22">22-急诊入院</option>
                                <option value="23">23-市内转院住院</option>
                                <option value="41">41-病理剖宫产</option>
                                <option value="71">71-顺产</option>
                                <option value="72">72-剖宫产</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">胎儿数</label>
                        <div class="layui-input-inline">
                            <input type="text" name="FetusNumber" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">户口性质</label>
                        <div class="layui-input-inline">
                            <select name="InsuranceType" @*lay-verify="required"*@>
                                <option value="">请选择户口性质</option>
                                <option value="10">城镇户口</option>
                                <option value="20">农业户口</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-card-body" lay-size="sm">
                <!--诊断部分-->
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>诊断列表</legend>
                </fieldset>
                <!--诊断列表-->
                <table id="LAY-table-data-id" class="layui-table" lay-size="sm" lay-filter="EditListTable">
                    <thead>
                        <tr>
                            <th lay-data="{type:'numbers',align:'center', width:60}">序号</th>
                            <th lay-data="{field:'UserId',align:'center', width:280}">诊断代码</th>
                            <th lay-data="{field:'UserName',align:'center', width:280}">诊断名称</th>
                            <th lay-data="{field:'Year',align:'center', width:120}">结果</th>
                            <th lay-data="{field:'M01',align:'center', width:80}">主诊</th>
                            <th lay-data="{align:'center', toolbar: '#handleBtn', fixed: 'right'}">操作</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn layui-btn-radius" lay-submit="" lay-filter="demo1">登记</button>
                    <button type="button" class="layui-btn layui-btn-radius" id="LAY-component-form-getval">取消</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    (function () {
        //加载列表的后端 url
        var getListUrl = '';
        //对于任意一个 table，按照官方的说法，有三种不同的初始化渲染方式，不多介绍，而这里使用的方式姑且看做第三种：转换静态表格 方式
        //转换静态表格方式，自然首先需要有一个已经存在的表格，然后再通过 js 方式转化为 Layui 表格
        //无论哪种方式的 Layui table 初始化自然需要配置项
        //通过转化的方式初始化 Layui table，配置项部分可以在 源table中，部分在js中，源 table 的源代码上文已经给出，下面给出一个示例的 js 中的配置项
        var tableOptions = {
            url: getListUrl, //请求地址
            method: 'POST', //方式
            id: 'listReload', //生成 Layui table 的标识 id，必须提供，用于后文刷新操作，笔者该处出过问题
            page: false, //是否分页
            where: { type: "all" }, //请求后端接口的条件，该处就是条件错误点，按照官方给出的代码示例，原先写成了 where: { key : { type: "all" } }，结果并不是我想的那样，如此写，key 将是后端的一个类作为参数，里面有 type 属性，如果误以为 key 是 Layui 提供的格式，那就大错特错了
            response: { //定义后端 json 格式，详细参见官方文档
                statusName: 'Code', //状态字段名称
                statusCode: '200', //状态字段成功值
                msgName: 'Message', //消息字段
                countName: 'Total', //总数字段
                dataName: 'Result' //数据字段
            }
        };

        layui.use(['form', 'laypage', 'layer', 'table', 'element', 'laydate'],
            function() {
                var $ = layui.$
                    //Tab的切换功能，切换事件监听等，需要依赖element模块
                    ,
                    element = layui.element,
                    form = layui.form,
                    layer = layui.layer,
                    table = layui.table,
                    laydate = layui.laydate;
                /**
                form.render(); //更新全部
                form.render('select'); //刷新select选择框渲染,checkbox,radio
                form.render('select', 'test2'); //更新 lay-filter="test2" 所在容器内的全部 select 状态
                */
                form.render(null, 'LAY-form-render'); //更新 lay-filter="LAY-form-render" 所在容器内的全部表单状态
                //执行一个laydate实例
                laydate.render({ elem: '#AdmissionDate1' });
                //指定入院日期
                laydate.render({ elem: '#AdmissionDate' });

                //form.on('submit(LAY-form-search)',
                //    function(data) {
                //        var IdCardNo = $("#IdCardNo").val();
                //        var StartTime = $("#AdmissionDate1").val();
                //        var IdentityMark = $("#IdentityMark").val();
                //        var BusinessId = $("#bid").val();
                //        var UserId = $("#empid").val();
                //        $.ajax({
                //            type: 'POST',
                //            url: '/BenDing/GetInpatientInfo',
                //            data: {
                //                "UserId": UserId,
                //                "BusinessId": BusinessId,
                //                "IdCardNo": IdCardNo,
                //                "StartTime": StartTime,
                //                //"IdentityMark": IdentityMark
                //            },
                //            //dataType: "json",
                //            async: false,
                //            success: function(data) {
                //                if (data.Success === false) {
                //                    alert(data.Message)
                //                    var jsonData = data.Data;
                //                    console.log(jsonData)
                //                } else {
                //                    var jsonData = data.Data;
                //                    console.log(jsonData)
                //                    layer.alert("用户名或密码错误", { title: '登录失败' });
                //                }
                //            }
                //        });
                //        return false;
                //    });
                ////表初始化
                //var createTable = function() {
                //    table.init('EditListTable', tableOptions); // table lay-filter
                //};
                ////表初始化
                //createTable();

                ////表刷新方法
                //var reloadTable = function(item) {
                //    table.reload("listReload",
                //        { //此处是上文提到的 初始化标识id
                //            where: {
                //                //key: { //该写法上文已经提到
                //                type: item.type,
                //                id: item.id
                //                //}
                //            }
                //        });
                //};
            });
    })();

</script>
@*<script type="text/html" id="handleBtn">
    <a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
</script>*@ 